.apearTipeOfArticles{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  animation: apearArticles;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  margin-top: 15%;
}

.disapearTipeOfArticles{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  animation: disapearArticles;
  animation-duration: 1s;
  animation-timing-function: linear;
  margin-top: 15%;
}

.apearArticles{
  margin-top: 4%;
  animation: apearArticles;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  margin-top: 15%;
}

.disapearArticles{
  margin-top: 4%;
  animation: disapearArticles;
  animation-duration: 1s;
  animation-timing-function: linear;
  margin-top: 15%;
}

@keyframes apearArticles{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes disapearArticles{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.startingCart{
  z-index: 3;
  position: fixed;
  height: 58px;
  width: 20%;
  right: 0;
  background: linear-gradient(90deg, #FFFBE9 3%, #e3c69a 50%) 0px 0px;
  margin-top: 31px;
  border: 1px solid black;
}

.apearCart{
  z-index: 3;
  position: fixed;
  width: 20%;
  right: 0;
  background: linear-gradient(0deg, #e3c69a 1%, #FFFBE9 100%) 0px 0px;
  animation: apearCart 1s forwards;
  margin-top: 90px;
  border: 1px solid black;
}

@keyframes apearCart{
  0%{
    transform: translateY(-60px);
  }100%{
    transform: translateY(0px);
  }
}

.desapearCart{
  z-index: 3;
  position: fixed;
  width: 20%;
  right: 0;
  background: linear-gradient(90deg, #FFFBE9 3%, #e3c69a 50%) 0px 0px;
  animation: desapearCart 1s forwards;
  margin-top: 75px;
  border: 1px solid black;
}

@keyframes desapearCart{
  0%{
    transform: translateY(0px);
  }100%{
    transform: translateY(-45px);
  }
}
