.apearTipeOfArticles{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  animation: apearArticles;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  margin-top: 15%;
}

.disapearTipeOfArticles{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  animation: disapearArticles;
  animation-duration: 1s;
  animation-timing-function: linear;
  margin-top: 15%;
}

.apearArticles{
  margin-top: 4%;
  animation: apearArticles;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  margin-top: 15%;
}

.disapearArticles{
  margin-top: 4%;
  animation: disapearArticles;
  animation-duration: 1s;
  animation-timing-function: linear;
  margin-top: 15%;
}

@keyframes apearArticles{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes disapearArticles{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.startingCart{
  z-index: 3;
  position: fixed;
  width: 20%;
  right: 0;
  top: 0%;
  background: linear-gradient(90deg, #ebe9eb 3%, white 50%) 0px 0px;
  border-bottom: 2px solid #AD8B73;
  border-right: 1px solid #AD8B73;
  border-left: 1px solid #AD8B73;
}

.apearCart{
  z-index: 3;
  position: fixed;
  width: 20%;
  right: 0;
  top: 7.5%;
  background: linear-gradient(0deg, #ebe9eb 1%, white 100%) 0px 0px;
  border-bottom: 2px solid #AD8B73;
  border-right: 1px solid #AD8B73;
  border-left: 1px solid #AD8B73;
  transition: 1s;
}

.desapearCart{
  z-index: 3;
  position: fixed;
  width: 20%;
  right: 0;
  top: 0%;
  background: linear-gradient(0deg, #ebe9eb 1%, white 100%) 0px 0px;
  border-bottom: 2px solid #AD8B73;
  border-right: 1px solid #AD8B73;
  border-left: 1px solid #AD8B73;
  transition: 1s;
  transition-delay: 0.3s;
}

.startingLoginRegister{
  z-index: 3;
  position: fixed;
  display: flex;
  justify-content: space-around;
  height: 6.1vh;
  width: 19%;
  right: 17.6%;
  top: 0%;
  background: linear-gradient(0deg, #ebe9eb 1%, white 100%) 0px 0px;
  border-bottom: 2px solid #AD8B73;
  border-right: 1px solid #AD8B73;
  border-left: 1px solid #AD8B73;
  transition: 1s;
  transition-delay: 0.3s;
}
.apearLoginRegister{
  z-index: 3;
  position: fixed;
  display: flex;
  justify-content: space-around;
  height: 6.1vh;
  width: 19%;
  right: 17.6%;
  top: 7.5%;
  background: linear-gradient(0deg, #ebe9eb 1%, white 100%) 0px 0px;
  border-bottom: 2px solid #AD8B73;
  border-right: 1px solid #AD8B73;
  border-left: 1px solid #AD8B73;
  transition: 1s;
  transition-delay: 0.3s;
}

@media only screen and (max-width: 1220px) {
  .apearLoginRegister{
    z-index: 3;
    position: fixed;
    display: flex;
    justify-content: space-around;
    height: 6.1vh;
    width: 19%;
    right: 18.5%;
    top: 11%;
    background: linear-gradient(0deg, #ebe9eb 1%, white 100%) 0px 0px;
    border-bottom: 2px solid #AD8B73;
    border-right: 1px solid #AD8B73;
    border-left: 1px solid #AD8B73;
    transition: 1s;
    transition-delay: 0.3s;
  }
  .apearCart{
    z-index: 3;
    position: fixed;
    width: 20%;
    right: 0;
    top: 11%;
    background: linear-gradient(0deg, #ebe9eb 1%, white 100%) 0px 0px;
    border-bottom: 2px solid #AD8B73;
    border-right: 1px solid #AD8B73;
    border-left: 1px solid #AD8B73;
    transition: 1s;
  }
}

@media only screen and (max-width: 991px) {
  .startingCart{
    z-index: 3;
    position: fixed;
    width: 100%;
    top: 0%;
    background: linear-gradient(90deg, #ebe9eb 3%, white 50%) 0px 0px;
    border-bottom: 2px solid #AD8B73;
    border-right: none;
    border-left: none;
  }
  .startingCart::-webkit-scrollbar {
    display: none;
  }
  
  .apearCart{
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 300px;
    background: linear-gradient(0deg, #ebe9eb 1%, white 100%) 0px 0px;
    border-bottom: 2px solid #AD8B73;
    border-right: none;
    border-left: none;
    transition: 1s;
  }
  .apearCart::-webkit-scrollbar {
    display: none;
  }
  
  .desapearCart{
    z-index: 3;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    right: 0;
    top: 0%;
    background: linear-gradient(0deg, #ebe9eb 1%, white 100%) 0px 0px;
    border-bottom: 2px solid #AD8B73;
    border-right: none;
    border-left: none;
    transition: 1s;
    transition-delay: 0.3s;
  }
  .desapearCart::-webkit-scrollbar {
    display: none;
  }

  .startingLoginRegister{
    z-index: 3;
    position: fixed;
    height: 6.1vh;
    width: 100%;
    left: 0%;
    top: 0%;
    background: linear-gradient(0deg, #ebe9eb 1%, white 100%) 0px 0px;
    border-bottom: 2px solid #AD8B73;
    border-right: 1px solid #AD8B73;
    border-left: 1px solid #AD8B73;
    transition: 1s;
    transition-delay: 0.3s;
  }
  .apearLoginRegister{
    z-index: 3;
    position: fixed;
    height: 6.1vh;
    width: 100%;
    left: 0%;
    top: 253px;
    background: linear-gradient(0deg, #ebe9eb 1%, white 100%) 0px 0px;
    border-bottom: 2px solid #AD8B73;
    border-right: none;
    border-left: none;
    transition: 1s;
    transition-delay: 0.3s;
  }
}

.plusOneAnimation{
  animation: upAndDisapear;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

@keyframes upAndDisapear{
  0%{
    color: rgba(150, 100, 70, 1);
  }
  99%{
    margin-bottom: 12%;
    color: rgba(150, 100, 70, 0);
  }
  100%{
    margin-bottom: 7%;
  }
}

.notLogged{
  animation: flicker;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes flicker{
  10%{
    transform: scale(1.3);
    color: rgb(150, 100, 70);
  }
  40%{
    transform: scale(1);
    color: #595959;
  }
  60%{
    transform: scale(1.3);
    color: rgb(150, 100, 70);
  }
  90%{
    transform: scale(1);
    color: #595959;
  }
}

@media only screen and (max-width: 500px) {
  .apearCart{
    z-index: 3;
    position: fixed;
    width: 100%;
    top: 145px;
    background: linear-gradient(0deg, #ebe9eb 1%, white 100%) 0px 0px;
    border-bottom: 2px solid #AD8B73;
    border-right: none;
    border-left: none;
    transition: 1s;
  }
  .apearCart::-webkit-scrollbar {
    display: none;
  }
}