.cartIcon{
  height: 30px;
  width: 30px;
  margin-top: 3px;
}
.searchIcon{
  height: 25px;
  width: 25px;
  padding-top: 10px;
  padding-left: 5px;
}
.backArrow{
  position: absolute;
  top: 30%;
  left: 0%;
}
.removeItem{
  height: 25px;
  width: 25px;
  border-radius: 60px;
}
.removeItem:hover{
  transform: scale(1.13)
}
.addToCartButton{
  height: 22px;
  width: 22px;
  margin-top: 4px;
  color: #303030;
}